html {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-size: 16px;
}

body {
	text-align: center;
	height:100%;
	margin:0;
	padding:0;
	background-color: #7ea6c8;
}

div#main {
	width: 1000px;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	position: relative;
}

div#background {
	background-color: #f8f8f8;
	width: 1000px;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	position: fixed;
	z-index: 1;
}

div#content {
	width: 954px;
	margin: 23px;
	margin-bottom: 0;
	text-align: left;
	padding: 0;
	padding-bottom: 1.5em;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

div#parallel-launcher {
	position: absolute;
	text-align: left;
	top: 16px;
	right: 8px;
	z-index: 3;
}

h1 {
	margin-top: 0;
}

img#logo {
	float: left;
	margin-right: 1ch;
}


a:link {
	color: #0033aa;
	text-decoration: none;
}

a:visited {
	color: #0033aa;
	text-decoration: none;
}

a:hover {
	color: #0033aa;
	text-decoration: underline;
}

a:active {
	color: #3366cc;
	text-decoration: underline;
}

a > img{
	border: 0;
}

div#screenshots {
	text-align: justify;
}

.text-size {
	width: 1em;
	height: 1em;
}

#screenshots > img {
	display: block;
	margin: auto;
}

div.downloads {
	display: flex;
	align-items: stretch;
}

div.download-box {
	display: flex;
	max-width: 300px;
	flex-grow: 1;
	border: 1px solid black;
	border-radius: 4px;
	background-color: #eff0f1;
	margin: 0 2px 6px 2px;
	padding: 4px;
}

div.download-box > img {
	flex-grow: 0;
	width: 64px;
	height: 64px;
}

div.download-box > div {
	flex-grow: 1;
	margin-left: 4px;
}
